@(filters : List[String],path : String,searchParams : dtos.SearchParams)

@search(filters,path,searchParams){
<div class="row">
<div class="form-group col-md-6">
	<div class="input-group date">
    	<input type="text" class="form-control datePicker" name="from" placeholder="From"
    	value="@if(searchParams.getFrom()!=null){@searchParams.getFrom().format("MM/dd/yyyy hh:mm aa")}">
    	<div class="input-group-addon">
        	<span class="glyphicon glyphicon-calendar"></span>
    	</div>
	</div>
</div>
<div class="form-group col-md-6">
	<div class="input-group date">
   		<input type="text" class="form-control datePicker" name="to" placeholder="To"
   		value="@if(searchParams.getTo()!=null){@searchParams.getTo().format("MM/dd/yyyy hh:mm aa")}">
    	<div class="input-group-addon">
        	<span class="glyphicon glyphicon-calendar"></span>
    	</div>
	</div>
</div>
</div>
 <script type="text/javascript">
            $(function () {
            	$('.datePicker').datetimepicker({
                    sideBySide: true
                });
            });
</script>
}