@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(webJarAssets : WebJarAssets)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Fluffy CRM 1.0</title> 
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap-datetimepicker.min.css"))">
        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("jquery","2.2.4/jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap","bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("moment.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap-datetimepicker.min.js"))'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/main.js")'></script>
    </head>
    <body>
        @content
    </body>
</html>
